* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#container {
  display: grid;
  grid-gap: 2px;
  margin-top: 20px;
  width: 80vw;
  height: 80vh;
  border: 2px solid #333;
}

.square {
  background-color: lightgray;  /* Светлый фон по умолчанию */
  transition: background-color 0.3s, opacity 0.3s;  /* Плавное изменение фона */
}

.square:hover {
  opacity: 0.8;  /* Прозрачность при наведении */
}
